{% extends "base.html" %}

{% block content %}

<h2>📦 Consignments</h2>

{% if session.role in ['admin', 'manager'] %}
<a class="btn" href="/add_consignment">+ Create Consignment</a>
{% endif %}

<div class="table-container">
<table>

<tr>
<th>ID</th>
<th>Sender</th>
<th>Receiver</th>
<th>Route</th>
<th class="text-center">Status</th>
{% if session.role in ['admin', 'manager'] %}
<th class="text-center">Action</th>
{% endif %}
</tr>

{% for c in consignments %}

<tr>

<td>{{ c.id }}</td>
<td>{{ c.sender }}</td>
<td>{{ c.receiver }}</td>
<td>{{ c.route }}</td>
<td class="status {% if c.status == 'booked' %}status-booked{% elif c.status == 'in_transit' %}status-transit{% else %}status-delivered{% endif %} text-center">{{ c.status|title }}</td>

{% if session.role in ['admin', 'manager'] %}
<td class="text-center">
<a class="action-btn edit" href="/edit_consignment/{{ c.id }}">Edit</a>
<a class="action-btn delete" href="/delete_consignment/{{ c.id }}" onclick="return confirm('Delete this consignment?');">Delete</a>
</td>
{% endif %}

</tr>

{% endfor %}

</table>
</div>

{% endblock %}

